* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}

.logo {
    flex-basis: 20%;
}
.logo img {
    width: 60px;
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition-duration: 0.5s;
}
.nav-links ul li:hover {
    cursor: pointer;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
}
.nav-links ul li ul {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    display: none;
}
.nav-links ul li ul li {
    display: block;
}
.nav-links ul li:hover > ul,
.nav-links ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.info {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
    background: tomato;
}

.circle-middle {
    width: 200px;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}
/*
.circle-active {
    opacity: 0.5;
}
*/
.feature {
    position: absolute;
    color: #fff;
}
.one {
    top: 300px;
    right: 25px;
}
.two {
    bottom: 100px;
    right: 150px;
}
.three {
    bottom: 150px;
    left: 150px;
}
.four {
    top: 250px;
    left: 150px;
}
.feature img {
    width: 70px;
}
.feature div {
    margin-left: 30px;
}
.feature p {
    margin-top: 8px;
}
/*
.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
*/
.detail {
    position: absolute;
    right: 5%;
    top: 44%;
    transform: translateY(-50%);
    text-align: center;
}
.detail h1 {
    margin: 15px 0;
    color: #fff;
}
.detail img {
    width: 300px;
}

.market-icons img {
    width: 150px;
}